body {
    min-width: 375px !important;
}
/*styling for the top part of the page*/
.heroBackground {
    background-image: url("../images/carveola-incident-screenshot.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: start;
    height: 60vh;
    width: 100%;
    color: white;
}

.bg-secondary {
    background-color: #fdeba9 !important;
}
/*end of styling for the top part of the page*/

/*styling for my work section*/
#my-work img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    object-position: 0 -10vh;
}

#my-work .card {
    border: none;
    padding: 2em 0;
}

.row-divider {
    border-bottom: 1px solid grey;
}

/*end of styling for my work section*/

/*styling for about me section*/
#about-me p,
#about-me h2 {
    color: white;
}

#about-me .card {
    background-color: #6c757d;
    border: none;
}

#about-me img {
    object-fit: cover;
    max-width: 600px;
    max-height: 600px;
    width: 100%;
    height: auto;
    object-position: 0 0vh;
    padding: 3%;
    
}

#about-me .card-body{
    padding: 15%;
    text-align: justify;
}
/*end of styling for about me section*/

/*styling for contact me section*/
#contact-me{
    text-align: center;
    padding: 10px 0px;
}

#contact-me a{
    padding: 0px 10px;
}
/*end of styling for contact me section*/